@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #ffff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}

.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}